body {
	margin: 0;
	font-family: 'Kotta One';
	background-color: white;
}

/*navbar*/

.navbar-brand, .name_logo {font-family: 'Gabriela'}

.navbar-brand {
	border-right: 2.5px solid white;
	padding-right: 25px;
}
#navbar {
	background-color: #44a5e8;
}
#navbar a {
	color: white;
}
#listnav a {
	color: black;
}
#navbar ul li {
	padding-left: 25px;
	padding-right: 25px;
}
.navbar-right {
	padding-top: 10px;
	padding-right: 60px;
	word-spacing: 30px;
	color: blue;
}

.bluebg {
	background-color: #44a5e8;
}

section {
	height: 100vh;
}


/*footer*/

footer {
	background-color: #44a5e8;
	height: 50px;
	padding-top: 8px;
	color: white;
}
footer a {
	color: white;
}