body {
	margin: 0;
	font-family: 'Kotta One';
	background-color: white;
	padding-top: 5%;
}
.nopad {
	padding-left: 0;
	padding-right: 0;
}
/*navbar*/

.navbar-brand, .name_logo {font-family: 'Gabriela'}

.navbar-brand {
	border-right: 2.5px solid white;
	padding-right: 25px;
}
#navbar {
	background-color: #44a5e8;
}
#navbar a {
	color: white;
}
#listnav a {
	color: black;
}
#navbar ul li {
	padding-left: 40px;
	padding-right: 0px; 
}
.navbar-right {
	padding-top: 10px;
	padding-left: 60px;
	word-spacing: 20px;
	color: blue;
}
.dropdown:hover > .dropdown-menu {
	visibility: visible;
	display: block;
}
.dropdown-toggle {
	background-color: #44a5e8 !important;
}

/* sections */

.bluebg {
	background-color: #44a5e8;
	color: white;
}
.img1 {
	margin-top: 12vh;
}
section {
	height: 100vh;
}
h2 {
    padding-top: 5%;
}

#dentaire h2 {
	padding-top: 0;
}
section p, section h2 {
	margin: 5vh;
}

/*footer*/

footer {
	background-color: white;
	height: 50px;
	padding-top: 8px;
	color: #44a5e8;
}
footer a {
	color: #44a5e8;
}