/*commentaires*/
/* bg-#2043FF ou #0198B5 1-#00FF00 action-#06D8FF		*/
/* font-family: Delius; font-family: 'Gabriela', serif; font-family: 'Kotta One'; */

body {
	margin: 0;
	font-family: 'Kotta One';
	background-color: white;
    padding-top: 5%;
}
.nopad {
	padding-left: 0;
	padding-right: 0;
}
/*navbar*/

.navbar-brand, .name_logo {font-family: 'Gabriela'}

.navbar-brand {
	border-right: 2.5px solid white;
	padding-right: 25px;
}
#navbar {
	background-color: #44a5e8;
}
#navbar a {
	color: white;
}
#listnav a {
	color: black;
	margin-left: -35px !important;
}
.dropdown-menu > li > a {
	padding: 3px 10px !important;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: #44a5e8 !important;
}
#navbar ul li {
	padding-left: 40px;
	padding-right: 0px; 
}
.navbar-right {
	padding-top: 10px;
	margin-left: 100px;
	word-spacing: 20px;
	color: blue;
}
.dropdown:hover > .dropdown-menu {
	visibility: visible;
	display: block;
	margin-left: 20px;
	min-width: 0;
}
.dropdown-toggle {
	background-color: #44a5e8 !important;
}

/* sections */

.bluebg {
	background-color: #44a5e8;
	color: white;
}
section {
	height: 100vh;
}
h2 {
    padding-top: 5%;
    margin-left: 5vh;
    font-family: 'Gabriela';
}
#consultation h2 {
    padding-top: 0;
}

.sect_analy_sg {
	margin-left: 18%;
	margin-right: 10%;
	margin-top: 4vh;
}
.sect_imagerie{
	margin-left: 18%;
	margin-right: 10%;
	margin-top: 4vh;
}
.article_presta {
	margin: 5vh;
}
.solo {
	padding-top: 28vh;
}

/*footer*/

footer {
	background-color: white;
	height: 50px;
	padding-top: 8px;
	color: #44a5e8;
}
footer a {
	color: #44a5e8;
}