/*1-#89FFF1	bg-#FFFFFF action-#B2603C		*/
.header{
	background-color:#FFFFFF;
	height:150px;
}
.barre{
	background-color:#FFFFFF;
	height:75px;
}
.block_1{
	background-color:#FFFFFF;
	height:425px;
}
.presentation{
	background-color:#FFFFFF;
	height:400px;
	padding:25px;
	border:2px double #89FFF1;
	border-radius: 25px 25px;
}
.image{
	background-color:#FFFFFF;
	height:400px;
}
.block_2{
	background-color:#89FFF1;
	height:400px;
}
.footer{
	border-top: 2px double #89FFF1;
	background-color:#FFFFFF;
	height:75px;
}