/* bg-#2043FF ou #0198B5 1-#00FF00 action-#06D8FF		*/
/* font-family: Delius; font-family: 'Gabriela', serif; font-family: 'Kotta One'; */

body {
	margin: 0;
	font-family: 'Kotta One';
	background-color: white;
}

#navbar {
	background-color: #44a5e8;
	color: black;
}

#navbar a {
	color: black;
}


#navbar ul li {
	padding-left: 50px;
}

.navbar-right {
	padding-top: 10px;
	padding-right: 60px;
	word-spacing: 30px;
	color: blue;
}

.name_logo {
    color: #44a5e8;
    font-size: 60px;
    margin-top: -10%;
}

.cadre1 {
	background-color: #44a5e8; 
}

.block_1 {
	color: white;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.presentation{
	border-radius: 25px 25px;
	font-family: Delius;
	border: black solid;
	padding: 2%;
}
.image{
	background-color: black;
	height:400px;
}

.cadre2 {
	background-color: white;
}
.block_2{
	background-color: white;
	height:100vh;
}

h2 {	
	font-family: 'Gabriela', serif;
}
footer {
	background-color: #44a5e8;
	height: 50px;
	padding-top: 8px;
	color: black;
	
}

footer a {
	color: black;
}

