/* bg-#2043FF ou #0198B5 1-#00FF00 action-#06D8FF		*/
/* font-family: Delius; font-family: 'Gabriela', serif; font-family: 'Kotta One'; */

body {
	margin: 0;
	font-family: 'Kotta One';
	background-color: #8296FF;
}

.logo {
	margin-top: 50px;
}

.block_1{
	color: white;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.presentation{
	border-radius: 25px 25px;
	font-family: Delius;
	border: black solid;
	padding: 2%;

}
.image{
	background-color: black;
	height:400px;
}

.cadre2 {
	background-color: #A4FFA4;
}
.block_2{
	background-color: #A4FFA4;
	height:100vh;
}
h2 {	
	font-family: 'Gabriela', serif;
}
.footer{
	/*border-top: 2px double #89FFF1;*/
	background-color: #70FF70;
	height: 75px;
}

